.footer {
  width: 100%;
  padding: 0.1em;
  margin-top: 0.5em;
  background-color: var(--purple-light);

  p {
    padding: 0.5em;
    margin: 0.6em;
    color: var(--white);
  }

  a {
    color: var(--white);
    padding: 0.4em;
    margin: 0.6em;

    &:hover {
      border: 1px solid var(--white);
      background-color: var(--purple-strong);
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
  }
}
