<div class="container mt-3">
  <div class="row">
    @for (post of posts; track post.id) {
    <div class="col-12 col-lg-6">
      <article class="card m-3 m-lg-1 p-2 rounded">
        <h2>{{ post.title }}</h2>
        <div class="d-flex justify-content-between detail">
          <p><i>Posted by:</i> {{ post.author }}</p>
          <p><i>Created at:</i> {{ post.date | date : "mediumDate" }}</p>
        </div>

        <figure>
          <img
            class="img-fluid object-fit-cover w-100 rounded"
            [src]="post.image"
            alt=""
          />
        </figure>
      </article>
    </div>
    }
  </div>
</div>
