.container {
  color: var(--dark);

  hr {
    height: 5px;
    background-color: var(--purple-strong);
    margin: 20px 0;
    opacity: 0.6;
  }

  form {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.2rem;

    textarea {
      resize: none;
    }

    .form-control:focus,
    .form-select:focus {
      border-color: var(--purple-light);
      box-shadow: 0 0 0 0.2rem rgba(128, 0, 128, 0.25);
      outline: none;
    }

    .btn {
      background-color: var(--purple-light);
      border: none;
      color: var(--white);
      width: 12.5em;
      height: 2.5em;

      &:hover {
        background-color: var(--purple-strong);
      }
    }
  }
}

input.ng-valid.ng-touched,
select.ng-valid.ng-touched {
  border: 1px solid green;
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border: 1px solid red;
}

small {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
