<div class="container">
  <h2 class="mt-2 text-center">New post</h2>
  <hr />
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label" for="title">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        formControlName="title"
      />
      @if(checkError('title', 'required')) {
      <small>This field is required</small>
      } @if(checkError('title', 'minlength') || checkError('title',
      'maxlength')) {
      <small>The title must be between 3 and 70 characters</small>
      }
    </div>
    <div class="mb-3">
      <label class="form-label" for="text">Text</label>
      <textarea
        class="form-control"
        rows="5"
        id="text"
        formControlName="text"
      ></textarea>
      @if(checkError('text', 'required')) {
      <small>This field is required</small>
      } @if(checkError('text', 'minlength') || checkError('text', 'maxlength'))
      {
      <small>The title must be between 5 and 1500 characters</small>
      }
    </div>
    <div class="mb-3">
      <label class="form-label" for="author">Author</label>
      <input
        type="text"
        class="form-control"
        id="author"
        formControlName="author"
      />
      @if(checkError('author', 'required')) {
      <small>This field is required</small>
      } @if(checkError('author', 'minlength') || checkError('author',
      'maxlength')) {
      <small>The author field must be between 3 and 20 characters</small>
      }
    </div>
    <div class="mb-3">
      <label class="form-label" for="image">Image url</label>
      <input
        type="email"
        class="form-control"
        id="image"
        formControlName="image"
      />
      @if(checkError('image', 'required')) {
      <small>This field is required</small>
      } @if(checkError('image', 'invalidUrl')) {
      <small>This must be a valid url</small>
      }
    </div>
    <div
      class="d-flex flex-column flex-sm-row flex-nowrap justify-content-between mb-3"
    >
      <div class="mb-4">
        <label class="form-label" for="category">Category</label>
        <select
          class="form-select"
          id="category"
          required
          formControlName="category"
        >
          <option value="" disabled selected>Select a category</option>
          @for (category of categories ; track category.id) {
          <option [value]="category.title">
            {{ category.title }}
          </option>
          }
        </select>
        @if(checkError('category', 'required')) {
        <small>This field is required</small>
        }
      </div>

      <input
        type="submit"
        value="Send"
        class="btn btn-info align-self-center"
        [disabled]="form.invalid"
      />
    </div>
  </form>
</div>

<!-- 
  id: number;
  title: string;
  text: string;
  author: string;
  image: string;
  date: Date;
  category: ICategory;
   -->
