.container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding: 1rem;
  color: var(--dark);
  transition: 0.3s;

  .detail {
    color: var(--grey);
    margin-bottom: 0.3em;
  }

  img {
    max-height: 400px;
    min-height: 200px;
  }

  .post-text {
    white-space: pre-wrap;
    margin: 0.6rem 0;
    font-size: 1.2rem;
  }

  .btn {
    padding: 0.5em 1.8em;
    font-size: 1.2rem;
    background-color: var(--purple-light);
    color: var(--white);

    &:hover {
      background-color: tomato;
    }
  }
}
