@if(post){
<div class="container mt-3">
  <article class="m-md-2 rounded">
    <h2>{{ post.title }}</h2>
    <hr />
    <div class="d-flex flex-column flex-sm-row justify-content-between detail">
      <p><i>Posted by:</i> {{ post.author }}</p>
      <p class="m-1">
        <i>Created at:</i> {{ post.date | date : "mediumDate" }}
      </p>
    </div>

    <figure>
      <img
        class="img-fluid object-fit-cover w-100 rounded"
        [src]="post.image"
        [alt]="post.title"
        (error)="onImageError($event)"
      />
    </figure>
    <p class="post-text">{{ post.text }}</p>
    <hr />
    <div class="d-flex justify-content-end">
      <button class="btn" (click)="onClick(post.id)">Delete post</button>
    </div>
  </article>
</div>

}
