.nav {
  padding: 0.7em;
  background-color: var(--purple-light);

  .nav-link {
    color: #ecf0f1;
  }

  .active {
    background-color: var(--purple-strong);
  }
}

i {
  font-size: 1.5rem;
  padding: 0.1em;
}

.offcanvas {
  background-color: var(--purple-light);

  .offcanvas-menu {
    display: flex;
    flex-direction: column;
  }
}
