<ul class="nav nav-tabs">
  <li class="nav-item d-none d-sm-block">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
  </li>
  <li class="nav-item d-none d-sm-block">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item d-none d-sm-block">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item d-none d-sm-block">
    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
  </li>

  <li class="nav-item">
    <a
      class="btn nav-link d-sm-none"
      data-bs-toggle="offcanvas"
      href="#offcanvasExample"
      role="button"
      aria-controls="offcanvasExample"
    >
      <i class="fa-solid fa-bars"></i>
    </a>
  </li>
</ul>

<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel"
>
  <div class="offcanvas-header">
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body pt-0">
    <ul class="nav nav-tabs offcanvas-menu">
      <div class="container-fluid"></div>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
      </li>
    </ul>

    <label class="form-label">Search</label>
    <input class="form-control" type="text" />

    <select class="form-select mt-3" aria-label="Default select example">
      <option selected>Open this select menu</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>
</div>
