<nav class="background">
  <div class="container-lg d-flex align-items-center justify-content-between">
    <ul class="nav nav-tabs">
      <li class="nav-item d-none d-md-block">
        <a class="nav-link active" href="#">Home</a>
      </li>
      <li class="nav-item d-none d-md-block">
        <a class="nav-link" href="#">New post</a>
      </li>

      <li class="nav-item">
        <a
          class="btn nav-link d-md-none"
          data-bs-toggle="offcanvas"
          href="#offcanvas"
          role="button"
        >
          <i class="fa-solid fa-bars fa-lg"></i>
        </a>
      </li>
    </ul>

    <div class="d-flex align-items-center gap-3 d-none d-md-flex">
      <div class="d-flex align-items-center">
        <label class="form-label px-1">Search</label>
        <input class="form-control" type="text" />
      </div>

      <div class="d-flex">
        <label class="form-label">Filter by category</label>
        <select class="form-select m-2" aria-label="Default select example">
          <option selected>All</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
  </div>

  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas">
    <div class="offcanvas-header">
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body pt-0">
      <ul class="nav nav-tabs offcanvas-menu">
        <div class="container-fluid"></div>
        <li class="nav-item">
          <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">New post</a>
        </li>
      </ul>

      <label class="form-label mt-3">Search</label>
      <input class="form-control" type="text" />

      <label class="form-label mt-3">Filter by category</label>
      <select class="form-select mt-1" aria-label="Default select example">
        <option selected>All</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>
</nav>
